.seat {
  width: 40px;
	height: 40px;
  border-radius: 4px;
	background: #D8D8D8 ;
  padding: 10px;
  position: relative;
}

.selected {
  background-color: #bada55;
}

.occupied {
  background-color: red;
}

.premium {
  color: #ff9999;
}

.overWing {
  border-color: #99ccff;
}
